In [2]:
import pandas as pd

In [14]:
df = pd.read_csv('../datasets/Breast_Tumor/data.txt', sep='\t', index_col=0)

In [15]:
df.columns

Index(['Tumor-plate1-1-TAAGGCGA-GAACGGCT_S385',
       'Tumor-plate1-2-CGTACTAG-GAACGGCT_S386',
       'Tumor-plate1-3-AGGCAGAA-GAACGGCT_S387',
       'Tumor-plate1-4-TCCTGAGC-GAACGGCT_S388',
       'Tumor-plate1-5-GGACTCCT-GAACGGCT_S389',
       'Tumor-plate1-6-TAGGCATG-GAACGGCT_S390',
       'Tumor-plate1-7-CTCTCTAC-GAACGGCT_S391',
       'Tumor-plate1-8-CAGAGAGG-GAACGGCT_S392',
       'Tumor-plate1-9-GCTACGCT-GAACGGCT_S393',
       'Tumor-plate1-10-CGAGGCTG-GAACGGCT_S394',
       ...
       'Tumor-plate4-87-GCCTCTGG-CCAAGCCC_S759',
       'Tumor-plate4-88-TCGCCCAC-CCAAGCCC_S760',
       'Tumor-plate4-89-CACTAGGC-CCAAGCCC_S761',
       'Tumor-plate4-90-TCGAAGCC-CCAAGCCC_S762',
       'Tumor-plate4-91-GCATGTAC-CCAAGCCC_S763',
       'Tumor-plate4-92-GTTCGAGT-CCAAGCCC_S764',
       'Tumor-plate4-93-CCGGGCGC-CCAAGCCC_S765',
       'Tumor-plate4-94-AGATTTAA-CCAAGCCC_S766',
       'Tumor-plate4-95-CACCATTG-CCAAGCCC_S767',
       'Tumor-plate4-96-AATAAGAC-CCAAGCCC_S768'],
      dtype='object', length=384)

In [16]:
def get_column_name(name):
    return '-'.join(name.split('-')[:3])

In [17]:
get_column_name(df.columns[0])

'Tumor-plate1-1'

In [18]:
column_names = [get_column_name(name) for name in df.columns]

In [19]:
df.columns = column_names

In [21]:
df.to_csv('../datasets/Breast_Tumor/data_fixed.txt', sep='\t')

In [22]:
df_names = pd.DataFrame(column_names)

In [24]:
df_names['label'] = df_names[0].apply(lambda x: x.rsplit('-', 1)[0])

In [25]:
df_names

                   0         label
0     Tumor-plate1-1  Tumor-plate1
1     Tumor-plate1-2  Tumor-plate1
2     Tumor-plate1-3  Tumor-plate1
3     Tumor-plate1-4  Tumor-plate1
4     Tumor-plate1-5  Tumor-plate1
..               ...           ...
379  Tumor-plate4-92  Tumor-plate4
380  Tumor-plate4-93  Tumor-plate4
381  Tumor-plate4-94  Tumor-plate4
382  Tumor-plate4-95  Tumor-plate4
383  Tumor-plate4-96  Tumor-plate4

[384 rows x 2 columns]

In [26]:
df_names.to_csv('../datasets/Breast_Tumor/labels_fitted.txt', sep='\t', columns=None, index=None)